version: "3"
services: 
    nginx:
        ports:
            - "80:80"
    node-app:
        build: 
            context: . 
            args:
                NODE_ENV: production
        environment: 
            - NODE-ENV=production
            - MONGO_USER=${MONGO_USER}
            - MONGO_PASSWORD=${MONGO_PASSWORD}
            - SESSION_SECRET=${SESSION_SECRET}
        command: node index.js
            
    mongo:
        environment: 
            - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
            - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}  

# USE ALLexport to export all environment vars from a .env file at once!
# .profile file needs to be edited to show the path to env vars!
